* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    width: 80%;
    margin: auto;
    background-image: url('img/1767974.jpg');
    flex-direction: inherit;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

img {
    width: 100%;
}

.navbar {
    overflow: hidden;
    top: 0;
    position: fixed;
}

.head {
    width: 100%;
    margin: auto;
}

.head ul {
    display: flex;
    list-style: none;
    margin: 10px;
    font-size: 1.5rem;
}

.head li a {
    margin-top: 5px;
    padding: .5rem;
    color: #FFCCCC;
}

li a:hover {
    color: #FFCC66;
    transition: 1s;
}

.head .logo img {
    width: 50px;
}

.main {
    width: 250px;
}

.footer footer {
    justify-content: space-around;
    margin-top: 100%;
    display: flex;
    color: rgb(42, 241, 109);
}

.footer .col_1 {
    color: rgb(42, 241, 109);
    text-align: center;
    line-height: 2.5rem;
}

.footer .col_2 {
    text-align: center;
}

.footer .col_2 li a {
    font-style: inherit;
    color: #ffffff;
}

.footer .col_2 li a:hover {
    color: #b90000;
    transition: 1s;
}

.footer .col_3 {
    text-align: center;
    line-height: 2rem;
}

h1 {
    font-size: 4.2rem;
}

h1 {
    font-weight: 400;
    font-size: 8rem;
    text-align: center;
}

.main main h2 {
    width: 500px;
    font-size: 5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    background: #f2f2f200;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #000000;
}

.content1 {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: 'Merriweather', serif;
}

h1 {
    font-weight: 900;
    color: red;
    text-align: center;
}

h3 {
    color: red;
    font-weight: 300;
}

.flap {
    width: 100%;
    height: 100%;
}

.flap::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") rgb(0, 0, 0);
    background-position: 100px;
    background-repeat: no-repeat;
    transition: 1s;
}

.flap::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    right: 0;
    background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") rgb(0, 0, 0);
    background-position: -200px;
    background-repeat: no-repeat;
    transition: 1s;
}

.container:hover .flap::after {
    transform: translatex(300px);
}

.container:hover .flap::before {
    transform: translatex(-300px);
}